@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500;

600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Days_One';
  src: url("../fonts/days_[allfont.ru].eot");
  src: local("☺"), url("../fonts/days_[allfont.ru].woff") format("woff"), url("../fonts/days_[allfont.ru].ttf") format("truetype"), url("../fonts/days_[allfont.ru].svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klaxons';
  src: url("../fonts/Klaxons.eot");
  src: local("☺"), url("../fonts/Klaxons.woff") format("woff"), url("../fonts/Klaxons.ttf") format("truetype"), url("../fonts/Klaxons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeonOne';
  src: url("../fonts/NeonOne.eot");
  src: local("☺"), url("../fonts/NeonOne.woff") format("woff"), url("../fonts/NeonOne.ttf") format("../truetype"), url("../fonts/NeonOne.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation_Light';
  src: url("../fonts/Sansation_Light.eot");
  src: local("☺"), url("../fonts/Sansation_Light.woff") format("woff"), url("../fonts/Sansation_Light.ttf") format("truetype"), url("../fonts/Sansation_Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation_Regular';
  src: url("../fonts/Sansation_Regular.eot");
  src: local("☺"), url("../fonts/Sansation_Regular.woff") format("woff"), url("../fonts/Sansation_Regular.ttf") format("truetype"), url("../fonts/Sansation_Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  background-color: #000000;
}

/*.blot{
	position: absolute;
	right: 0px;
	top: 0;
		background: radial-gradient(rgba(11,218,81, 0.2)  , rgba(0, 0, 0, 0.0) 70%);
	width: 600px;
	height:600px;
}*/

.container {
  max-width: 1406px;
  margin: 0px auto;
  padding: 0 15px;
}

.menu {
  width: 100%;
  position: fixed;
  z-index: 50;
  background-color: #000000;
}

.menu_body {
  padding-top: 40px;
  padding-bottom: 20px;
}

.menu_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu_column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__list li {
  margin: 0 190px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.menu__list li:last-of-type {
  margin: 0 0 0 0;
}

.menu__link {
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #C1BFC4;
  position: relative;
}

.menu__link:after {
  display: block;
  content: "";
  background-color: #C1BFC4;
  height: 3px;
  width: 0%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.menu__link:hover:after,
.menu__link:focus:after {
  width: 80%;
}

.menu__logo_img {
  display: block;
  position: relative;
  z-index: 3;
  width: 234px;
  margin: 0 auto;
}

.menu__logo_img img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.menu__nav.active {
  left: 0;
}

.main {
  padding: 210px 0 45px 0;
  border-bottom: 1px solid red;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 70px 0;
}

.main_left {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 686px;
  flex: 0 1 686px;
  padding: 100px 0 0 0;
}

.main_title {
  font-family: 'Days_One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #FAF0E6;
  margin: 0 0 35px 0;
}

.main_title span {
  color: #E761CA;
}

.main_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #DDDCDB;
  margin: 0 0 63px 0;
}

.main_text p {
  margin: 0 0 25px 0;
}

.main_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pink_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
  width: 252px;
  padding: 10px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 3px solid #AC3E94;
  border-radius: 70px;
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.05em;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  margin: 0 0 20px 0;
}

.pink_btn:hover {
  outline: 0;
  -webkit-box-shadow: 0 0 30px 30px #AC3E94 inset;
  box-shadow: 0 0 30px 30px #AC3E94 inset;
}

.pink_btn:active {
  outline: 0;
  -webkit-box-shadow: 0 0 10px 1px #AC3E94, 0 0 30px 30px #AC3E94 inset;
  box-shadow: 0 0 10px 1px #AC3E94, 0 0 30px 30px #AC3E94 inset;
}

.pink_btn.pink_btn_price {
  width: 340px;
}

.main_img {
  max-width: 500px;
}

.main_img img {
  max-width: 100%;
}

.main_arrow {
  width: 30px;
  margin: 0 auto;
  position: relative;
  -webkit-animation: bounceright .5s alternate ease infinite;
  animation: bounceright .5s alternate ease infinite;
}

@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

@keyframes bounceright {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}

.idea {
  padding: 270px 0 170px 0;
  border-bottom: 1px solid red;
}

.idea_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.idea_left {
  position: relative;
}

.idea_main_img {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.idea_main_img img {
  max-width: 100%;
}

.idea_back_img {
  z-index: 1;
  max-width: 300px;
  position: absolute;
  top: -110px;
  right: -110px;
  -webkit-animation: 115s linear 0s normal none infinite running rot;
  animation: 115s linear 0s normal none infinite running rot;
}

.idea_back_img img {
  max-width: 100%;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.idea_right {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 460px;
  flex: 0 1 460px;
  padding: 120px 60px 0 0;
}

.idea_title {
  font-family: 'Days_One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #FAF0E6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 35px 0;
}

.idea_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #DDDCDB;
  margin: 0 0 25px 0;
}

.idea_list {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #DDDCDB;
  max-width: 420px;
}

.idea_list ul li {
  padding: 0 0 0 20px;
  display: block;
  position: relative;
}

.idea_list ul li:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  left: 3px;
  bottom: 9px;
}

.idea_list_discrube {
  margin: 0 0 25px 0;
}

.idea_warning {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #DDDCDB;
  margin: 0 0 30px 0;
}

.idea_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 461px;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  color: #FAF0E6;
  border: 4px solid #FAF0E6;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.idea_btn:hover {
  border: 4px solid #AC3E94;
  -webkit-box-shadow: 0 0 10px 1px #AC3E94 inset;
  box-shadow: 0 0 10px 1px #AC3E94 inset;
  color: #AC3E94;
}

.idea_btn:active {
  outline: 0;
  -webkit-box-shadow: 0 0 20px 5px #AC3E94 inset;
  box-shadow: 0 0 20px 5px #AC3E94 inset;
}

.portfolio {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid red;
}

.portfolio_body {
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}

.portfolio_title {
  font-family: 'Klaxons', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 74px;
  color: #0BDA51;
  margin: 0 0 153px 0;
  text-align: center;
}

.portfolio_slider {
  margin: 0 0 68px 0;
}

.slide_content {
  max-width: 377px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slide_content:hover .slide_overlay {
  bottom: 0;
}

.slide_content img {
  width: 100%;
}

.slide_overlay {
  position: absolute;
  bottom: -100%;
  right: 0;
  background: rgba(11, 218, 81, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 75%;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  text-align: center;
  padding: 15px 0 0 0;
}

.slide_overlay_content_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FAF0E6;
  max-width: 246px;
  margin: 0 auto 20px;
}

.slide_overlay_content_icon {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgba(11, 218, 81, 0.2);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto 30px;
}

.slide_overlay_content_icon img {
  display: block;
  max-width: 40px;
}

.slide_overlay_content_pricw {
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.swiper-button-next:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: no-repeat url("../img/icon/right.png");
  top: 10px;
  left: 30px;
}

.swiper-button-next:after {
  display: none;
}

.swiper-button-prev:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background: no-repeat url("../img/icon/left.png");
  top: 10px;
  right: 0;
}

.swiper-button-prev:after {
  display: none;
}

.portfolio_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 297px;
  height: 70px;
  border: 4px solid #009231;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 70px;
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto;
  color: #009231;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.portfolio_btn:hover {
  outline: 0;
  -webkit-box-shadow: 0 0 30px 30px #009231 inset;
  box-shadow: 0 0 30px 30px #009231 inset;
  color: #fff;
}

.portfolio_btn:active {
  outline: 0;
  -webkit-box-shadow: 0 0 10px 1px #009231, 0 0 30px 30px #009231 inset;
  box-shadow: 0 0 10px 1px #009231, 0 0 30px 30px #009231 inset;
}

.order {
  padding: 50px 0 108px 0;
  border-bottom: 1px solid red;
}

.order_title {
  position: relative;
  font-family: 'Days_One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
  text-align: center;
  color: #FAF0E6;
  max-width: 400px;
  margin: 0 auto 137px;
}

.order_title:before {
  content: '';
  position: absolute;
  width: 161px;
  height: 40px;
  background: url("../img/border_top.png");
  top: -6px;
  left: -16px;
}

.border_for_title {
  position: absolute;
  width: 161px;
  height: 40px;
  bottom: -13px;
  right: -13px;
}

.order_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 90px 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.order_card {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 318px;
  flex: 0 1 318px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: rgba(146, 146, 146, 0.2);
  padding: 60px 20px 0 20px;
  text-align: center;
  margin: 0 0 30px 0;
}

.order_icon {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
}

.order_icon img {
  max-width: 100%;
}

.order_icon._active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.order_card_title {
  font-family: Sansation, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  color: #FAF0E6;
  margin: 0 0 30px 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.order_card_title._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}

.order_card_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #C1BFC3;
  margin: 0 0 55px 0;
  -webkit-transform: translate(0px, 50%);
  -ms-transform: translate(0px, 50%);
  transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0.4s;
  -o-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}

.order_card_text._active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.6s;
  -o-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

.order_btn {
  width: 252px;
  margin: 0 auto;
}

.contact {
  padding: 50px 0 160px 0;
}

.contact_title {
  font-family: 'NeonOne', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  color: #0BDA51;
  margin: 0 0 105px 0;
}

.contact_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.contact_item_title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #4A47A3;
  margin: 0 0 10px 0;
}

.contact_item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_item_link_icon {
  max-width: 50px;
  margin: 0 30px 0 0;
}

.contact_item_link_icon img {
  max-width: 100%;
}

.contact_item_link_link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #9A9A9A;
}

.footer {
  max-width: 231px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.corpyright {
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #C1BFC3;
}

.corpyright span {
  color: #0BDA51;
}

.powered {
  font-family: 'Klaxons', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #E1F4F3;
}

.modal_order {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 100;
  padding: 150px 10px 0 10px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal_body_order {
  position: relative;
  padding: 17px 27px 20px;
  background-color: #1C1C1C;
  max-width: 450px;
  margin: 0 auto;
  opacity: 0;
}

.modal_order.active {
  opacity: 1;
  visibility: visible;
}

.modal_body_order.active {
  opacity: 1;
}

.cross {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cross:before,
.cross:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.cross:before {
  top: 11.5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cross:after {
  top: 11.5px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.order_modal_title {
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #0BDA51;
  margin: 0 0 66px 0;
}

.form_item {
  margin: 0 0 30px 0;
}

.form_input {
  background-color: #1C1C1C;
  font-family: 'Sansation', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  color: rgba(225, 244, 243, 0.5);
  height: 50px;
  padding: 0;
  border-bottom: 2px solid rgba(225, 244, 243, 0.5);
  width: 100%;
}

input::-webkit-input-placeholder {
  font-size: 24px;
}

input::-moz-placeholder {
  font-size: 24px;
}

input:-ms-input-placeholder {
  font-size: 24px;
}

input::-ms-input-placeholder {
  font-size: 24px;
}

input::placeholder {
  font-size: 24px;
}

textarea.form_input {
  min-height: 30px;
  resize: vertical;
  width: 100%;
  padding: 0;
  margin: 0 0 140px 0;
  font-size: 24px;
  line-height: 27px;
}

.form_input:focus {
  -webkit-box-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
}

.form_input._error {
  -webkit-box-shadow: 0 0 15px red;
  box-shadow: 0 0 15px red;
}

.form_input._error::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: red;
}

.form_input._error::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
}

.form_input._error:-ms-input-placeholder {
  /* IE 10+ */
  color: red;
}

.form_input._error:-moz-placeholder {
  /* Firefox 18- */
  color: red;
}

.message {
  font-family: 'Roboto', sans-serif;
  display: none;
  margin: 30px 0 30px 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.message._success {
  display: block;
  color: #0BDA51;
}

.message._false {
  display: block;
  color: red;
  text-shadow: 1px 0 10px red;
}

.form_button {
  position: relative;
  width: 323px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Sansation', sans-serif;
  background-color: #1C1C1C;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #0BDA51;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  border: 3px solid #0BDA51;
  margin: 0 auto;
}

.form_button:before {
  background: #0BDA51;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  outline: none;
  width: 100%;
  height: 0%;
}

.form_button:hover {
  color: #fff;
}

.form_button:hover:before {
  height: 100%;
}

.form_button:active {
  outline: 0;
  -webkit-box-shadow: 0 0 10px 1px #0BDA51;
  box-shadow: 0 0 10px 1px #0BDA51;
}

.modal_calculate {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 100;
  padding: 150px 10px 0 10px;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal_body_calculate {
  position: relative;
  padding: 17px 27px 20px;
  background-color: #1C1C1C;
  max-width: 450px;
  margin: 0 auto;
  opacity: 0;
}

.modal_calculate.active {
  opacity: 1;
  visibility: visible;
}

.modal_body_calculate.active {
  opacity: 1;
}

.cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  margin: 0 0 10px 0;
}

.cost_title {
  color: #FFFFFF;
  margin: 0 10px 0 0;
}

.cost_vol {
  color: #0BDA51;
}

.grn {
  color: #0BDA51;
}

.modal_calculate_worning {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  margin: 0 0 50px 0;
  color: #FFFFFF;
}

.modal_calculate_worning span {
  color: red;
}

@media screen and (max-width: 1420px) {
  .portfolio_body {
    max-width: 1100px;
  }

  .slide_content {
    max-width: 300px;
  }

  .swiper-button-next:before {
    left: 50px;
  }

  .swiper-button-prev:before {
    right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .order_card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
    padding: 50px 20px 0 20px;
  }

  .order_icon {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 1300px) {
  .idea {
    padding: 200px 0 150px 0;
  }

  .order_cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1200px) {
  .menu__list li {
    margin: 0 100px 0 0;
  }

  .menu__list li:last-of-type {
    margin: 0 0 0 0;
  }

  .main_left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 556px;
    flex: 0 1 556px;
    padding: 50px 0 0 0;
  }

  .main_title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 30px 0;
  }

  .main_text {
    font-size: 18px;
    line-height: 22px;
  }

  .main_text p {
    margin: 0 0 20px 0;
  }

  .main_img {
    max-width: 400px;
  }

  .idea_main_img {
    max-width: 400px;
  }

  .idea_back_img {
    max-width: 260px;
  }

  .idea_right {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 400px;
    flex: 0 1 400px;
    padding: 20px 0 0 10px;
  }

  .idea_title {
    font-size: 30px;
    line-height: 40px;
  }

  .idea_text {
    font-size: 17px;
    line-height: 20px;
  }

  .idea_list {
    font-size: 17px;
    line-height: 20px;
  }

  .idea_btn {
    font-size: 25px;
    line-height: 20px;
    width: 300px;
  }

  .portfolio {
    padding: 40px 0 40px 0;
  }

  .portfolio_body {
    max-width: 900px;
  }

  .swiper-button-next:before {
    left: 10px;
  }

  .swiper-button-prev:before {
    right: -20px;
  }
}

@media screen and (max-width: 990px) {
  .menu_body {
    padding-top: 20px;
  }

  .menu_columns {
    padding-top: 20px;
  }

  .menu__list li {
    margin: 0 50px 0 0;
  }

  .menu__list li:last-of-type {
    margin: 0 0 0 0;
  }

  .menu__link {
    font-size: 17px;
  }

  .menu__logo_img {
    width: 180px;
  }

  .main {
    padding: 150px 0 25px 0;
  }

  .main_content {
    margin: 0 0 30px 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .main_left {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 456px;
    flex: 0 1 456px;
    padding: 10px 0 0 0;
  }

  .portfolio_body {
    max-width: 650px;
  }

  .swiper-button-next:before {
    left: 50px;
  }

  .swiper-button-prev:before {
    right: 20px;
  }

  .contact {
    padding: 40px 0 40px 0;
  }

  .contact_title {
    font-size: 50px;
    margin: 0 0 70px 0;
  }

  .contact_title {
    margin: 0 0 50px 0;
  }

  .contact_items {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .contact_item {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 950px) {
  .idea {
    padding: 200px 0 70px 0;
  }

  .idea_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .idea_right {
    padding: 20px 0 0 50px;
  }
}

@media screen and (max-width: 786px) {
  .modal_body_order {
    padding: 10px 10px 10px;
  }

  .cross {
    top: 10px;
    right: 10px;
  }

  .order_modal_title {
    font-size: 20px;
    margin: 0 0 46px 0;
  }

  .form_input {
    font-size: 20px;
  }

  input::-webkit-input-placeholder {
    font-size: 20px;
  }

  input::-moz-placeholder {
    font-size: 20px;
  }

  input:-ms-input-placeholder {
    font-size: 20px;
  }

  input::-ms-input-placeholder {
    font-size: 20px;
  }

  input::placeholder {
    font-size: 20px;
  }

  textarea.form_input {
    font-size: 20px;
    margin: 0 0 50px 0;
  }

  .form_button {
    font-size: 22px;
    width: 260px;
    height: 53px;
  }

  .modal_body_calculate {
    padding: 10px 10px 10px;
  }
}

@media screen and (max-width: 768px) {
  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0 0 40px 40px;
  }

  .menu__list li:last-of-type {
    margin: 0 0 40px 40px;
  }

  .menu__link {
    font-size: 22px;
  }

  .header__burger {
    display: block;
    position: absolute;
    z-index: 3;
    width: 35px;
    height: 28px;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 11px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  .header__burger.active:before {
    top: 11.5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger.active:after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 11.5px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .menu__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 180px 10px 20px 10px;
  }

  .main_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .main_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pink_btn {
    font-size: 20px;
    line-height: 20px;
  }

  .pink_btn.pink_btn_price {
    width: 300px;
  }

  .idea {
    padding: 100px 0 70px 0;
  }

  .idea_back_img {
    display: none;
  }

  .portfolio_body {
    max-width: 400px;
  }

  .portfolio_title {
    font-size: 44px;
    margin: 0 0 63px 0;
  }

  .order {
    padding: 50px 0 58px 0;
  }

  .order_title:before {
    left: -6px;
  }

  .order_title {
    font-size: 35px;
    line-height: 61px;
    max-width: 300px;
    margin: 0 auto 97px;
  }

  .border_for_title {
    bottom: -0px;
    right: 0px;
  }

  .order_cards {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 580px) {
  .portfolio_body {
    max-width: 280px;
  }

  .portfolio_title {
    font-size: 44px;
  }

  .swiper-button-next:before {
    top: -200px;
    left: -60px;
  }

  .swiper-button-prev:before {
    top: -200px;
    right: -80px;
  }

  .portfolio_btn {
    width: 247px;
  }

  .contact_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 290px;
    flex: 0 1 290px;
  }

  .contact_item_link_icon {
    max-width: 40px;
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 458px) {
  .idea_right {
    padding: 20px 0  0 10px;
  }

  .idea_btn {
    width: 280px;
  }
}

@media screen and (max-width: 450px) {
  .contact_item_link_link {
    font-size: 14px;
  }
}